<div class="column is-10">
    <div class="block homeblock">
    <h1>The Smart Contract Ecosystem Map</h1>
    <br/>
    <h5>
        The ecosystem tools map outlines the entire smart contract developer ecosystem, and all of the tools and products smart contract developers may need to rely on.
    </h5>
    <br/>
    <h5>
        These resources are comprised of mostly software tools but also include other resource types such as learning, exchanges, and reference resources. The goals of this map is to provide you with an overview of the full blockchain developer ecosystem.
    </h5>
    </div>
    <html>
        <head>
            <style>
            #content {
                width: 100vw;
                margin: auto;
                height: 100vh;
                display: flex;
                align-items: center;
            }
            </style>
        </head>
        <body>
            <div id="content">
        <iframe style="border: 1px solid rgba(0, 0, 0, 0.1);" width="85%" height="60%" src="https://www.figma.com/embed?embed_host=share&url=https%3A%2F%2Fwww.figma.com%2Ffile%2FU6iAHSsDlqoJfOaNwRigeO%2FEcosystem-Tools-Map%3Fnode-id%3D0%253A1" allowfullscreen>
        
        </iframe>
            </div>
        </body>
</html>

</div>